<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="text-center">Employees</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Date of birth</th>
          <th>Departmant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.firstName}}&nbsp;{{employee.lastName}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.dob}}</td>
          <td>{{employee.department}}</td>
         
        </tr>
      </tbody>
    </table>
  </div>
</div>

