<div class="container-fluid">
    <div class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">EMPLOYEE PORTAL</h4>
             </div>
      <div class="row">
        <div class="col-md-4">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Add Employee</h1>
                  <p class="lead">Required Details [Name, Gender, DOB, Department]</p>
                  <button class="btn btn-lg btn-info" (click)="gotoAdd()">ADD</button>
                </div>
              </div>
        </div>
        <div class="col-md-3">
      
        </div>
        <div class="col-md-4">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">List Employees</h1>
                  <p class="lead">View Employees Details </p>
                  <button class="btn btn-lg btn-info" (click)="gotoList()">LIST</button>
                </div>
              </div>
          </div>
      </div>
      <router-outlet></router-outlet>
</div>
