<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
      <h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="LastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Gender</label>
      <select class="form-control" required name="gender" [(ngModel)]="employee.gender">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
    </div>

    <div class="form-group">
        <label for="name">Date of Birth</label>
        <input type="date" class="form-control" id="dob" required [(ngModel)]="employee.dob" name="dob">
      </div>

      <div class="form-group">
          <label for="name">Depatment</label>
          <input type="text" class="form-control" id="department" required [(ngModel)]="employee.department" name="department">
        </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<br/><br/>
<div [hidden]="!submitted">
  <h4 class="alert alert-success">You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
    </div>
    <div class="col-md-4">

  </div>
</div>



